{
    "info": {
        "id": "hlw",
        "host": "192.168.168.55",
        "port": 5555,
        "securityCode": "HUANGLINGWEI"
    },
    "hosts": {
        "hxh": {
            "id": "hxh",
            "host": "192.168.168.94",
            "port": 5555,
            "securityCode": "HUANGXIANHONG"
        }
    },
    "trustedHost": [
        "192.168.168.",
        "111.111."
    ]
}